docs/build/
.gh-pages/
__pycache__/
*.pyc
*.pkl
*.nrrd
*.dcm
*.nii.gz
*.pyc
results/

# 保留演示数据中的预处理图像，即使它们是 nrrd/nii.gz 格式
!demo_data/preprocessed/processed_images/
!demo_data/preprocessed/processed_images/**
