SimpleITK==2.2.1
antspyx==0.4.2
opencv-python
numpy
matplotlib
trimesh
scipy
openpyxl
pandas
tqdm
pyradiomics
scikit-learn
mrmr_selection
pingouin
statsmodels
xgboost
seaborn
shap
pyyaml
torch
click>=8.0
lifelines
pydicom