# Habitat Analysis Configuration

# Data paths
data_dir: ./files_preprocessing.yaml
out_dir: ./preprocessed

# Preprocessing settings   
Preprocessing:
  dcm2nii:
    images: [delay2, delay3, delay5]
    dcm2niix_path: ./dcm2niix.exe
    compress: true
    anonymize: true

  # # N4 Bias Field Correction:
  # n4_correction:
  #   images: [delay2, delay3, delay5]
  #   num_fitting_levels: 2

  # Resample:
  resample:
    images: [delay2, delay3, delay5]
    target_spacing: [1.0, 1.0, 1.0]

  registration:
    images: [delay2, delay3, delay5]
    fixed_image: delay2
    moving_images: [delay3, delay5]
    type_of_transform: SyNRA
    use_mask: false

  # Z-Score标准化 - 将图像强度标准化为均值0、标准差1的分布
  zscore_normalization:
    images: [delay2, delay3, delay5]  # 要处理的图像序列
    only_inmask: false  # 是否仅在掩码内计算统计量
    mask_key: mask  # 当only_inmask为true时使用的掩码名称

  # adaptive_histogram_equalization:
  #   images: [delay2, delay3, delay5]  # 要处理的图像序列
  #   alpha: 0.3  # 全局对比度增强因子
  #   beta: 0.3  # 局部对比度增强因子
  #   radius: 5  # 局部窗口半径

save_options:
  save_intermediate: true
  # intermediate_steps: [dcm2nii, n4_correction, resample, registration, zscore_normalization]


# General settings
processes: 2  # Number of parallel processes
random_state: 42  # Random seed for reproducibility
